{{#if data}}
<div class="row">
  <div class="col-sm-12">
    <div class="form-inline">
      <div class="radio">
        <label>
          {{radio-button value=true checked=cumulative}}
          Cumulative
        </label>
      </div>
      <div class="radio">
        <label>
          {{radio-button value=false checked=cumulative}}
          Discrete
        </label>
      </div>
    </div>
  </div>
</div>
{{/if}}
{{chartist-chart options=options data=data}}
{{yield}}
